body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
html, body {
  height: 100%;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #73AF4E;
  color: white;
  height: 10%;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #73AF4E;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #73AF4E;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #39522A;
}

main {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-section, .middle-section, .bottom-section {
  height: 33.333%;
  width: 100%;
  box-sizing: border-box;
}

.middle-section, .bottom-section {
  background-color: #fff;
}

.gameimages {
  width: 100%;
  border-collapse: collapse;
}

.gameimages tr {
  display: flex;
  justify-content: space-between;
}

.gameimages th {
  text-align: center;
  padding: 10px;
  flex: 1;
}

.gameimageheader {
  height: 50%;
  width: 50%;
}

.kwfimage {
  height: 33vh;
  width: 33vw;
}

.goalimageheader {
  height: 25%;
  width: 25%;
}

h4 {
  text-align: center;
}

footer {
  background-color: #39522A;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

.gameimages a {
  text-decoration: none;
  color: black;
}

.gameimages button {
  border: none;
  width: 50%;
  height: 10%;
  background-color: #73AF4E;
  color: white;
  margin: 2.5%;
  font-size: 125%;
}

.gameimages button:hover {
  background-color: #39522A;
  cursor: pointer;
}

.portfolio-buttons {
  text-align: center;
  margin-top: 20px;
}

.portfolio-buttons button {
  margin: 5px;
  padding: 12px 24px; /* Adjust the padding as needed */
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

button, button a {
  text-decoration: none;
  color: inherit;
}

.center-image {
  height: 55vh;
  width: 40vh;
}
